<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate Your Digital Presence | Web Design & Marketing in Cape Town</title>

    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Elevate your digital presence with stunning websites and strategic marketing campaigns in Cape Town. Serving areas including Atlantic Seaboard, City Bowl, Southern Suburbs, Northern Suburbs, Cape Flats, Southern Peninsula, West Coast Suburbs, and Helderberg.">
    <meta name="keywords" content="web design, digital marketing, SEO optimization, Cape Town, Atlantic Seaboard, City Bowl, Southern Suburbs, Northern Suburbs, Cape Flats, Southern Peninsula, West Coast Suburbs, Helderberg">
    <meta name="author" content="Mbusiseni Mbhele">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://web.facebook.com/profile.php?id=61558711007560">
    <meta property="og:title" content="Elevate Your Digital Presence | Web Design & Marketing in Cape Town">
    <meta property="og:description" content="Elevate your digital presence with stunning websites and strategic marketing campaigns in Cape Town. Serving all major areas including Atlantic Seaboard, City Bowl, Southern Suburbs, and more.">
    <meta property="og:image" content="https://z-p3-scontent.fcpt1-1.fna.fbcdn.net/v/t39.30808-6/441155077_122112323192290366_5024041428406648193_n.png?stp=dst-png_s960x960&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=t2QT6sqC8TEQ7kNvgFbWtwE&_nc_ht=z-p3-scontent.fcpt1-1.fna&oh=00_AYD8qmf3ireo4kONwW3_2xud3XjUqCSkEw-GeGhlQnHGwA&oe=664C73E9">

    <!-- Twitter (now called X) -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://twitter.com/1mbhele">
    <meta property="twitter:title" content="Elevate Your Digital Presence | Web Design & Marketing in Cape Town">
    <meta property="twitter:description" content="Elevate your digital presence with stunning websites and strategic marketing campaigns in Cape Town. Serving all major areas including Atlantic Seaboard, City Bowl, Southern Suburbs, and more.">
    <meta property="twitter:image" content="https://pbs.twimg.com/profile_banners/4220891069/1715909129/600x200">

    <!-- LinkedIn -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.linkedin.com/in/mbusiseni-mbhele-238131253/">
    <meta property="og:title" content="Elevate Your Digital Presence | Web Design & Marketing in Cape Town">
    <meta property="og:description" content="Elevate your digital presence with stunning websites and strategic marketing campaigns in Cape Town. Serving all major areas including Atlantic Seaboard, City Bowl, Southern Suburbs, and more.">
    <meta property="og:image" content="https://media.licdn.com/dms/image/D4D16AQEKnbURojVoZw/profile-displaybackgroundimage-shrink_350_1400/0/1715455416522?e=1721260800&v=beta&t=pP69BdsocRwBT7itZbth58h53FxaRh6IxxKcfVWSiyE">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W3D6TJF8');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <%- include('layouts/layout') %>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3D6TJF8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="navbar">
        <div class="logo-container">
            <img id="logo" src="images/logo.svg" alt="logo" onclick="redirectToHome()">
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="menu-items" id="menuItems">
            <a href="#home">Home</a>
            <a href="/contact" id="apply" style="color: rgb(0, 0, 0) !important;">Apply</a>
            <a href="#pricing">Pricing</a>
            <a href="#services">Services</a>
            <% if (!locals.isAuthenticated) { %>
                <a href="/register" id="free">Sign up</a>
            <% } else { %>
                <a href="/logout">Logout</a>
            <% } %>
        </div>
    </div>

    <div class="massive-div"></div>

    <div class="header" id="home">
        <div class="header-content">
            <img id="mbusiseni" src="images/mbusi.svg" alt="Web Design and Marketing">
            <div id="right-left-text">
                <div id="text-1">Web Design</div>
                <div id="text-2">Marketing</div>
            </div>
            
            <div class="text-content">
                <p style="font-weight: 800; z-index: 999;"><span id="Elevate">Elevate</span> your digital presence with stunning websites and strategic marketing campaigns!</p>
                <button id="needCustomersButton" onclick="window.location.href='/contact';">More clients</button>
                <button id="wantWebsiteButton" onclick="window.location.href='/contact';">Website first</button>
            </div>
        </div>
    </div>

    <div class="clients" id="clients">
        <h2 style="text-align: center; z-index: 999;">Who We Have Worked With</h2>
        <br>
    
        <div class="company-slider">
            <div class="company-card">Abdullar dealership</div>
            <div class="company-card">Jabulanworks</div>
            <div class="company-card">B&T Plumbing</div>
            <div class="company-card">feel at home in capetown</div>
            <div class="company-card">University of Stellenbosch</div>
            <div class="company-card">Innovation for life</div>
            <div class="company-card">Collenjservices</div>
            <div class="company-card">Prof Jean Greyling</div>
            <div class="company-card">Acutesolar</div>
            <div class="company-card">Dr Matsha</div>
            <div class="company-card">CoffeeMM</div>
            <div class="company-card">Able-energy</div>
            <div class="company-card">Draglearn</div>
            <div class="company-card">Govan Mbeki Mathematics Development Centre’s Incubator</div>
            <div class="company-card">More...</div>
        </div>
    </div>

    <div class="services-section" id="services">
        <h2 class="section-title">Our Services</h2>
        <div class="service-cards">
            <div class="service-card">
                <h3>Web Design</h3>
                <p>Custom website designs that are visually appealing and user-friendly.</p>
            </div>
            <div class="service-card">
                <h3>Digital Marketing</h3>
                <p>Comprehensive digital marketing strategies to boost your online presence.</p>
            </div>
            <div class="service-card">
                <h3>SEO Optimization</h3>
                <p>Enhance your website's visibility in search engine results with optimized SEO practices.</p>
            </div>
            <div class="service-card">
                <h3>Content Creation</h3>
                <p>Engaging and original content to captivate your audience.</p>
            </div>
        </div>
    </div>
    
    <div class="pricing" id="pricing">
        <h2 style="text-align: center;">Our Pricing</h2>
        <p style="text-align: center;">We offer competitive prices for our high-quality services. Contact us for detailed quotes.</p>
        <div class="pricing-cards">
            <div class="pricing-card">
                <h3>Free One-Page Website</h3>
                <ul>
                    <li>✓ One-page website design</li>
                    <li>✓ Limited customization</li>
                </ul>
                <p class="price" style="color: red; font-weight: bold;">FREE</p>
                <button class="select-button" onclick="selectService('Free One-Page')">Select</button>
            </div>
            <div class="pricing-card">
                <h3>Basic</h3>
                <ul>
                    <li>✓ Small 3 page simple design website</li>
                    <li>✓ Functional website</li>
                    <li>✓ 3 pages</li>
                    <li>✓ 1 revision</li>
                    <li>✓ 7 days delivery</li>
                </ul>
                <p class="price">R 2,452</p>
                <button class="select-button" onclick="selectService('Basic')">Select</button>
            </div>
            <div class="pricing-card">
                <h3>Standard</h3>
                <ul>
                    <li>✓ Medium 6 page standard website</li>
                    <li>✓ Content upload</li>
                    <li>✓ 6 pages</li>
                    <li>✓ 2 revisions</li>
                    <li>✓ 1 day delivery</li>
                </ul>
                <p class="price">R 7,393</p>
                <button class="select-button" onclick="selectService('Standard')">Select</button>
            </div>
            <div class="pricing-card">
                <h3>Advance</h3>
                <ul>
                    <li>✓ Medium 6 page standard website</li>
                    <li>✓ Content upload</li>
                    <li>✓ 6 pages</li>
                    <li>✓ 2 revisions</li>
                    <li>✓ 1 day delivery</li>
                </ul>
                <p class="price">R 16,393</p>
                <button class="select-button" onclick="selectService('Standard')">Select</button>
            </div>
        </div>
    </div>

    <div class="quote" id="quote">
        <h2>Request a Quote</h2>
        <p>Fill out the form below to get a personalized quote for your project.</p>
    </div>

    <div class="reviews" id="reviews">
        <div class="review-card">
            <h2>Client Review 1</h2>
            <p>"Amazing work! Their team understood our vision and delivered beyond our expectations."</p>
        </div>
        <div class="review-card">
            <h2>Client Review 2</h2>
            <p>"The website design is modern and visually appealing. Great communication throughout the project."</p>
        </div>
        <div class="review-card">
            <h2>Client Review 3</h2>
            <p>"Highly recommended! Professional, creative, and efficient."</p>
        </div>
    </div>
   
    <footer>
        <p>&copy; 2024 Mbusiseni Mbhele. All rights reserved.</p>
        <p>Why Choose Us? We bring your ideas to life with creativity and expertise!</p>
    </footer>

    <script>
        function redirectToHome() {
            window.location.href = "/";
        }

        document.addEventListener('scroll', function() {
            const scrollPosition = window.pageYOffset || document.documentElement.scrollTop;

            document.getElementById('text-1').style.transform = `translateX(${-scrollPosition}px)`;
            document.getElementById('text-2').style.transform = `translateX(${scrollPosition}px)`;
        });

        document.body.classList.add('page-loaded');
        
        var customersButton = document.getElementById('needCustomersButton');
        var websiteButton = document.getElementById('wantWebsiteButton');
        var button = document.querySelector('.select-button');
        
        const opacityInterval = setInterval(() => {
            const massiveDiv = document.querySelector('.massive-div');
            if (massiveDiv) {
                let currentOpacity = parseFloat(getComputedStyle(massiveDiv).opacity);
                currentOpacity -= 0.1;
                massiveDiv.style.opacity = Math.max(0, currentOpacity).toString();

                if (currentOpacity <= 0) {
                    clearInterval(opacityInterval);
                    massiveDiv.remove();
                }
            }
        }, 1000);

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

        var webElement = document.getElementById('web');
        var content = webElement.textContent;
        var styledContent = '<span style="color: #14AE5C;">' + content.charAt(0) + '</span>' + content.slice(1);
        webElement.innerHTML = styledContent;

        function selectService(service) {
            var whatsappNumber = '+27712542404';
            var serviceName = '';
            var serviceDetails = '';

            switch(service) {
                case 'basic':
                    serviceName = 'Basic Package';
                    serviceDetails = '✓ Small 3 page simple design website\n' +
                                    '✓ Functional website\n' +
                                    '✓ 3 pages\n' +
                                    '✓ 1 revision\n' +
                                    '✓ 7 days delivery\n' +
                                    'R 7,452';
                    break;
                case 'free-one-page':
                    serviceName = 'Free One-Page Website';
                    serviceDetails = '✓ One-page website design\n' +
                                    '✓ Limited customization\n' +
                                    'FREE';
                    break;
                case 'standard':
                    serviceName = 'Standard Package';
                    serviceDetails = '✓ Medium 6 page standard website\n' +
                                    '✓ Content upload\n' +
                                    '✓ 6 pages\n' +
                                    '✓ 2 revisions\n' +
                                    '✓ 1 day delivery\n' +
                                    'R 16,393';
                    break;
                case 'premium':
                    serviceName = 'Premium Package';
                    serviceDetails = '✓ High-quality website + CMS\n' +
                                    '✓ 8 pages\n' +
                                    '✓ 3 revisions\n' +
                                    '✓ 1 day delivery\n' +
                                    'R 29,806';
                    break;
                case 'seo':
                    serviceName = 'SEO Package';
                    serviceDetails = '✓ On-page and off-page optimization\n' +
                                    '✓ Keyword research\n' +
                                    '✓ SEO audit\n' +
                                    '✓ Monthly performance reports\n' +
                                    'Contact us for a quote';
                    break;
                case 'facebook-management':
                    serviceName = 'Facebook Management';
                    serviceDetails = '✓ Social media strategy development\n' +
                                    '✓ Content creation and posting\n' +
                                    '✓ Engagement monitoring\n' +
                                    'Contact us for a quote';
                    break;
                case 'facebook-ads':
                    serviceName = 'Facebook Ads';
                    serviceDetails = '✓ Ad campaign setup and management\n' +
                                    '✓ Target audience research\n' +
                                    '✓ Ad performance analytics\n' +
                                    'Contact us for a quote';
                    break;
                default:
            }

            var message = "Hello, I'm interested in the " + serviceName + " service.\n\n";
            message += "Service Details:\n" + serviceDetails + "\n\n";
            message += "Please provide more information.\n";

            var encodedMessage = encodeURIComponent(message);
            var whatsappLink = 'https://wa.me/' + whatsappNumber + '?text=' + encodedMessage;
            window.location.href = whatsappLink;
        }

        function toggleMenu() {
            var menuItems = document.getElementById("menuItems");
            menuItems.classList.toggle("show");
        }

        customersButton.addEventListener('click', function() {
            window.location.href = '/contact';
        });

        websiteButton.addEventListener('click', function() {
            window.location.href = '/contact';
        });
    </script>
</body>
</html>
